#side
{
    
    background-color: black;
    color:white;
    position:absolute;
    padding-left: 0px;
    margin-left: 0px;
    height: 1000px;
    width: 200px;    
    overflow-x: hidden;
    z-index: 1;
}
#side .active
{background-color: green;
}
 #e
{margin: 4px;
 float: right;
   padding: 20px;
    text-decoration: none;
    color: red;
    text-align: center;
   
    font-size: 20px;
}
.dropdown-btn:active
{
background-color: green;}
.dropdown-btn
{
   width: 100%;
    display:inline-block;
    border-bottom: 1px solid grey;
    background-color: black;
    color: white;
    font-size: 25px;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: left;
    font-variant-caps: all-petite-caps;
    font-family:inherit;
  
}
.active {
  background-color: green;
  color: white;
}
.dropdown-btn:hover
{
    cursor: pointer;
color: lavender;
    background-color: grey;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.dropdown-container
{
    display: none;
}
.dropdown-container a{
 
  background-color: #262626;
    color: white;
    font-family: inherit;
    font-size: 20px;
  padding-left: 8px;
    text-decoration: none;
    font-size: 20px;
}
h3
{
color: darkorange;}
#b
{

    height:400px;
width: 600px;}
h2
{
text-align: center;
color:brown;
    font-weight: 800;
    font-size: 30px;
}
p
{
font-size: 20px;
color: purple}
#side a
{display: block;
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    font-variant-caps: all-petite-caps;
    font-family:sans-serif
        ;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.o
{float: left;
    margin-left: 50px;
    height: 1000px;;
    width: 1100px;
    padding-left: 200px;
   

   
}
a:hover
{
cursor: pointer;
color: lavender;
    background-color: grey;
    
}
#side a.active
{
    background-color: green;
}
 #h
{
width: 100%;
border: 3px solid black;
height: 10%;
   padding: 0px;
    margin-left: 0px;
text-align: center;
background-color:skyblue;
    color:crimson;
    font-family: calibri;
    
}

#h h2
{
    width: 100%;
height: 10px;
padding-bottom: 10px;
text-align: center;
background-color:skyblue;
    color:crimson;
    font-family: calibri;
    
}
#img
{
float: left;
    padding-left: 30px;
height: 110px;
    width: 10%;
    padding-top: 10px;
}
.details
{
    margin-left: 150px;
    text-align: center;
}
